{% extends "base.html" %}

{% block title %}Registration{% endblock title %}

{% block content %}
<form class="form form-group" method="POST">
    <H4>Please Fill in Your new Information</H4>
    {{ form.hidden_tag() }}
    <div class="form form-group">
        {{ form.username(placeholder='Username') }}
    </div>
    <div class="form form-group">
        {{ form.password(placeholder='Password') }}
    </div>
    <div class="form form-group">
        {{ form.confirm(placeholder='Confirm Password') }}
    </div>
	<input type="submit" class="btn btn-primary" value="Register">
</form>
{% endblock content %}